html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  transition: background-color 0.4s ease-out;
}

.container {
  width: 50vh;
  display: flex;
  justify-content: center;
}

input {
  width: 85%;
  height: 4rem;
  font-size: 2.4rem;
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
}
